/* .submissions-page {
    height: 50vh;
} */
.container  {
    display: flex;
    width:100%;
    align-items: center;
    justify-content: center;
    padding-top: 5% !important;
    /* height: 100vh; */
   
}

/* @media only screen and (max-width: 600px) {
  
    .container{
        width:100% !important;
    }

} */
td { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word;
}
table { 
    table-layout:fixed;
}
@media only screen and (max-width: 480px) {
    /* horizontal scrollbar for tables if mobile screen */
    .table{
        overflow-x: auto;
        display: block;
    }
}